* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px black solid; */
    cursor:none;
    transition: background-color 0.5s linear;

}

:root {
    --KeyNumber: 1;
    --sliver:0, 0%, 75%;
    --keycolor:180, 100%, 10%;
}


.container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: left;
    background: url("R.jpg");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    /* width: 100%; */
    height: 300px;
    position: absolute;
    bottom: 50px;
    /* bottom: 100px; */
    grid-template-rows: repeat(3, 1fr);

    /* overflow: hidden; */
    translate: 10% 0%;
    transform: perspective(5000px) rotateX(60deg) ;
}

#checker {
    font-size: 100px;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: hsla(var(--sliver), 1);
    -webkit-text-stroke: black 2px ;
}

.error {
    color: hsla(0, 100%, 50%, 1);
    /* opacity: 0.4; */
}

#text {
    height: 0px;
    width: 0px;
    opacity: 0;
}

.key {
    position: relative;
    cursor: pointer;
    font-size: 50px;
    color: hsla(var(--keycolor), 1);
    text-align: center;
    aspect-ratio: 1/1;
    display: block;
    height: 80px;
    /* padding: ; */
    /* opacity: ; */
    z-index: 100;
    background-color: hsla(var(--sliver), 1);
    /* transform-style: preserve-3d; */
    /* enable 3D transforms */
    transition: 235ms box-shadow, 235ms background-color;
    box-shadow: 0 15px 0 black, 0px 15px 25px rgba(0, 0, 0, 0.7);
    border: black solid; border-width: 0px 2px 0px 2px;

}

.key.highlighted {
    background-color: hsla(0, 0%, 60%, 1);
    box-shadow: 0 3px 0 black, 0px 3px 6px rgba(0, 0, 0, 0.7);
    /* opacity: 0; */
}
.Animate {
    height: 100px;
    aspect-ratio: 1/1;
    font-size: 100px;
    text-align: center;
    top: 20%;
    right: 50%;
    transition: 500ms;
    position: absolute;
    color: hsla(var(--sliver), 1);
    -webkit-text-stroke: 2px black;
    /* transform: perspective(5000px) rotateY(40deg); */
}

.Up {
    background-color: black;
}

.Down {
    translate: 500% 200%;
}

.buttons {
    background-color: hsla(0, 0%, 50%, 0.4);
    height: 100px;
    width: 300px;
    position: absolute;
    top: 1px;
    right: 50px;
    border-radius: 0px 0px 30px 30px;
}

.button {
    height: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: hsla(0, 100%, 50%, 1);
}

.key:hover {
    /* transform: scaleY(0.9); */
}

.support {
    font-size: 100px;
    color: green;
}

.Second {
    translate: 50px 0px;
}

.Third {
    translate: 100px 0px;
}




#upperopition{
    height: 50px;
    aspect-ratio: 1/1;
}
.Accurate {
    color: hsla(var(--sliver), 1);
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 100px;
    transform: perspective(3000px) rotateX(0deg) rotateY(-60deg) ;
}

.WPM{
    font-size: 100px;
}


.Speed {
    transform: perspective(3000px) rotateX(0deg) rotateY(60deg) ;
    font-size: 50px;
    /* width: 500px; */
    color: hsla(var(--sliver), 1);
    position: absolute;
    top: 50px;
    left: 50px;
}

.timers {
    font-size: 60px;
    scale: 1.2;
    /* height: 100%; */
    position: absolute;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
    color: hsla(var(--sliver), 1);
    
    /* opacity: 0; */
}

.volumeText {
    font-size: 20px;
    text-align: center;
    color: hsla(var(--sliver), 1);
}

.nothing {
    display: none;
}

.ranger{ 
    position: absolute;
    top: 50%;
    width: 400px;
    left: -100px;
    rotate: 270deg;
    color: hsla(var(--sliver), 1);
}
.volumeRange {
    width: 100%;
    /* background-color: hsla(var(--sliver), 1); */
    accent-color: hsl(var(--sliver));
}

.volume:hover .volumeRange {
    opacity: 1;
}

@media screen and (max-width:1280px) {
    .keyboard{
        scale: 0.8;
    }
    .ranger{
        top: calc(100% - 100px);
        left: auto;
        rotate: 0deg;
    }
}
@media screen and (max-width:960px) {
    .keyboard{
        scale: 0.7;
        translate: 5% 0%;
    }
    .Accurate , .WPM{
        font-size: 75px;
    }
    .timers{
        font-size: 50px;
    }
    .Animate , #checker{
        font-size: 75px;
    }
}



.Q {
    grid-row: 1;
    grid-column: 1/2;
}

.W {
    grid-row: 1;
    grid-column: 2/3;
}

.E {
    grid-row: 1;
    grid-column: 3/4;
}

.R {
    grid-row: 1;
    grid-column: 4/5;
}

.T {
    grid-row: 1;
    grid-column: 5/6;
}

.Y {
    grid-row: 1;
    grid-column: 6/7;
}

.U {
    grid-row: 1;
    grid-column: 7/8;
}

.I {
    grid-row: 1;
    grid-column: 8/9;
}

.O {
    grid-row: 1;
    grid-column: 9/10;
}

.P {
    grid-column: 10/11;
    grid-row: 1;
}

.A {
    grid-column: 1/2;
    grid-row: 2;
}

.S {
    grid-row: 2;
    grid-column: 2/3;
}

.D {
    grid-row: 2;
    grid-column: 3/4;
}

.F {
    grid-row: 2;
    grid-column: 4/5;
}

.G {
    grid-row: 2;
    grid-column: 5/6;
}

.H {
    grid-row: 2;
    grid-column: 6/7;
}

.J {
    grid-row: 2;
    grid-column: 7/8;
}

.K {
    grid-row: 2;
    grid-column: 8/9;
}

.L {
    grid-row: 2;
    grid-column: 9/10;
}

.Z {
    grid-row: 3;
    grid-column: 1/2;
}

.Z {
    grid-row: 3;
    grid-column: 1/2;
}

.X {
    grid-row: 3;
    grid-column: 2/3;
}

.C {
    grid-row: 3;
    grid-column: 3/4;
}

.V {
    grid-row: 3;
    grid-column: 4/5;
}

.B {
    grid-row: 3;
    grid-column: 5/6;
}

.N {
    grid-row: 3;
    grid-column: 6/7;
}

.M {
    grid-row: 3;
    grid-column: 7/8;
}
